<!DOCTYPE html>
<html lang="en">

<head th:replace="/layouts/base::head"></head>

<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">

		<!-- Sidebar -->
		<ul th:replace="/layouts/base::sidebar"></ul>
		<!-- End of Sidebar -->

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- Topbar -->
				<nav th:replace="/layouts/base::topbar"></nav>
				<!-- End of Topbar -->

				<!-- Begin Page Content -->
				<div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-4 text-gray-800"></h1>

                    <div class="row">

                        <div class="col-lg-6">

                            <!-- Circle Buttons -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Guardar Usuario</h6>
                                </div>
                                <div class="card-body">
                                    <form id="save" action="#" th:action="@{/persons/createPerson}" th:object="${person}" method="post">
										<p>Nombre: <input type="text" th:field="*{name}" class="form-control" required></p>
										<p><span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" th:errorclass="error"></span></p>
                                        <p>Apellido: <input type="text" th:field="*{surname}" class="form-control" required></p>
                                        <p><span th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}" th:errorclass="error"></span></p>
                                        <p>Dni: <input type="text" th:field="*{dni}" class="form-control" required></p>
                                        <p><span th:if="${#fields.hasErrors('dni')}" th:errors="*{dni}" th:errorclass="error"></span></p>                                      

										<div class="card-footer">
											<input id="submit-btn" type="submit" value="Guardar" class="btn btn-success">
											<a class="btn btn-secondary pl-2" th:href="@{/}">Cancelar</a>
										</div>
									</form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
				<!-- End Page Content -->
			</div>
			<!-- End of Main Content -->
		</div>
		<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top">
		<i class="fas fa-angle-up"></i>
	</a>

	<!-- Logout Modal-->
	<div th:replace="/layouts/base::logout-modal"></div>

	<!-- Scripts-->
	<div th:replace="/layouts/base::scripts"></div>
</body>