<!--<form action="#" th:action="@{/userRole/updateRole}" th:object="${userRole}"
	method="post">
	<input type="hidden" th:field="*{id}" />
	</p>
	<p>
		Role: <input type="text" th:field="*{role}" />
	</p>
	<input type="submit" value="Edit" />
</form>
<form action="#" th:action="@{/userRole/deleteRole/{id}(id=${userRole.id})}" method="post">
	<input type="submit" value="delete Role" />
</form>-->
<table>
	<thead>
		<tr>
			<th>Id</th>
			<th>Role</th>
			<th>Editar</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="userRole : ${userRoles}">
			<td><span th:text="${userRole.id}" /></td>
			<td><span th:text="${userRole.role}" /></td>
			<td>
				<form action="#" th:action="@{/userRoles/updateRole/{id}(id=${userRole.id})}" th:object="${userRole}" method="get">
					<input type="submit" value="Editar" />
				</form>
			</td>
	</tbody>
</table>